.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagePromoTitle {
    width: 45%;
}

.pagePromoTitle h2 {
    font-weight: bold;
    font-size: 40px;
    color: #194484;
}

.pagePromoImage {
    width: 50%;
}

.pagePromoImage img {
    object-fit: contain;
    /* width: 100%;
    height: 100%; */
}

.pageDescription {
    padding: 30px 0;
}

.pageDescriptionItem {
    width: 45%;
}

.pageDescriptionItem h3 {
    color: #194484;
    margin-bottom: 20px;
}

.pageDescriptionItem p {
    margin-bottom: 20px;
    line-height: 30px;
}

@media (max-width:1050px) {
    .pagePromo .container {
        flex-direction: column;
    }
    .pagePromoTitle {
        width: 100%;
        text-align: center;
        margin: 30px 0;
    }
    .pagePromoImage {
        width: 100%;
        height: 350px;
    }

    .pagePromoImage img {
        object-fit: contain;
        width: 100%;
        height: 100%; 
    }
}

@media (max-width:950px) {
    .pageDescription .container{
        display: flex;
        flex-direction: column;
    }

    .pageDescriptionItem {
        width: 100%;
    }
}

   