.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    display: none;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

@media (max-width:550px) {
    .description {
        display: block;
    }
}